@charset  "UTF-8";

body {

    background-color: rgba(109, 208, 109, 0.535);
}

header {
    
    background-image: linear-gradient(#099917, #3CE64C);
    padding: 30px;
    margin: 0px;
}

h1 {
    text-align: center;
}
p {
    text-align: center;
}
nav {
    background-color: #099917;
}
main {
    background-color: white;
    padding: 10px 30px 50px 10px;
    margin: 40px;
}