@charset "UTF-8"
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Mr+Dafoe&display=swap');
*{
    /*height: fit-content;*/
}

body{
    background-image: linear-gradient(to right, #D92567, #854BBF, #F2B705, #F25C05, #F20505);
}
main{
    background-color:  white;
    text-align: center;
    width: 650px;
    border-radius: 10px;
    box-shadow: 3px 3px 40px black;
    padding: 5px;
    margin: auto;
}
h1{
    color: black;
    font-family: 'Monoton', cursive;
    font-size: 3em;
    text-shadow: 1px 10px 10px rgba(97, 57, 8, 0.47);
}
p{
    font-family: 'Rock Salt', cursive;
    font-size: 3em;
}